* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

/* F0F2F5 */
/* HEADER */

/* FOOTER  */
.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__body {
    padding: 10px;
}

/* SIDEBAR ADMIN */
.sidebar {
    min-height: 100vh;

}

.content {
    padding: 80px 4rem 0 9rem;
    background-color: #F0F2F5;
    min-height: 100vh;

}

.game-intro {
    border: 2px solid white;
}

.game-intro:hover {
    border: 2px solid #ccc;
    user-select: none;
    cursor: pointer;
}

/* BREADCRUMB */


/* TOAST */
#my-toast {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1500;
}

.my-toast {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    padding: 14px 10px;
    min-width: 350px;
    font-size: 14px;
    background-color: #fff;
    border-left: 6px solid;
    cursor: pointer;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear .5s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 20px));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0.3;
    }
}

.my-toast+.my-toast {
    margin-top: 10px;

}

.my-toast--success {
    border-color: #47d864;
}

.my-toast--info {
    border-color: #2f86eb;
}

.my-toast--warning {
    border-color: #ffc021;
}

.my-toast--danger {
    border-color: #ff623d;
}