* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.fix-line-css {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
    visibility: visible;
    /* Tránh bug không giới hạn số dòng được do trình duyệt */
}

/* F0F2F5 */
/* HEADER */

/* FOOTER  */
.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__body {
    padding: 4px;
}

/* SIDEBAR ADMIN */
.sidebar {
    min-height: 100vh;
}


/* MAIN  */
.content {
    padding: 80px 4rem 0 9rem;
    background-color: #F0F2F5;
    min-height: 100vh;

}

.game-intro {
    border: 2px solid white;
}

.game-intro:hover {
    border: 2px solid #ccc;
    user-select: none;
    cursor: pointer;
}

.main {
    max-height: 85vh;
    overflow-y: auto;
}

.table__list-history {
    font-size: 0.9rem;
}

/* SCROLLBAR  */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 2px;
}




/* BREADCRUMB */


/* TOAST */
#my-toast {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1500;
}

.my-toast {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    padding: 14px 10px;
    min-width: 350px;
    font-size: 14px;
    background-color: #fff;
    border-left: 6px solid;
    cursor: pointer;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear .5s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 20px));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0.3;
    }
}

.my-toast+.my-toast {
    margin-top: 10px;

}

.my-toast--success {
    border-color: #47d864;
}

.my-toast--info {
    border-color: #2f86eb;
}

.my-toast--warning {
    border-color: #ffc021;
}

.my-toast--danger {
    border-color: #ff623d;
}